{% extends "layouts.html" %}


{% block head %}
{{ super()}}

<!-- Open Graph Meta Tags -->
<!-- <meta property="og:title" content="Page Title" />
    <meta property="og:description" content="Page description" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://example.com/page" />
    <meta property="og:image" content="https://example.com/image.jpg" />
    <meta property="og:site_name" content="Site Name" />
    <meta property="og:locale" content="en_US" /> -->

<!-- Twitter Card -->
<!-- <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Page Title" />
    <meta name="twitter:description" content="Page description" />
    <meta name="twitter:image" content="https://example.com/image.jpg" />
    <meta name="twitter:site" content="@YourHandle" />
    <meta name="twitter:creator" content="@_aayush_neupane" /> -->

{% endblock %}

{% block title %}About - Our Web Application{% endblock %}


{% block content %}
<h1>Welcome to the About Page.</h1>

<p>This web application is designed to manage and display student information efficiently. Our goal is to provide a
    user-friendly interface for inserting, viewing, and managing student records.</p>

{% endblock %}