<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    
    {% endblock %}
</head>
<body>
    <blockquote>
    {% block body %}

    <nav>
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/insert_record">Insert Record</a>
    </nav>
    <hr>
    <main>

        {% block content %}

        {% endblock %}
    </main>
    
    <hr>
    <footer>

        {% block footer %}
        <p>&copy; 2025 Our Web Application. All rights reserved.</p>
        {% endblock %}

    </footer>
    {% endblock %}
    </blockquote>
</body>
</html>